ModalScreen {
    width: 60%;
    height: auto;
    align: center top;

    Label {
        width: auto;
        height: auto;
    }

    Static {
        width: 60%;
        content-align: center middle;
        text-align: center;
        background: #346c9c;
    }
}
