
Screen {
    content-align: center middle;
}

Collapsible {
    width: 1fr;
    height:auto;
    padding: 0 0 0 0;
    border:none;
}


.header-label {
    width:1fr;
    text-align:center;
}


#script_input_placeholder {
    height: 50%;
    align: center middle;
}

#script_input {
    width: 50%;
}